* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #e6e3e3;
  height: 100vh;
  padding: 10vh 10%;
}

.dice-game {
  position: relative;
}

.players {
  display: flex;
  height: 80vh;
  background-color: #f5a8cccc;
  border-radius: 1.3rem;
  box-shadow: 0 0 1.5rem #8b8888;
}

.player-0 {
  border-top-left-radius: 1.3rem;
  border-bottom-left-radius: 1.3rem;
}

.player-1 {
  border-top-right-radius: 1.3rem;
  border-bottom-right-radius: 1.3rem;
}

.player-active {
  background-color: #e24b9c;
  transition: all 0.5s;
}

.winner {
  background-color: rgb(27, 26, 26);
  transition: all 0.2s;
}

.players > * {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.person-0,
.person-1 {
  width: 9rem;
  height: 9rem;
  border: 3px solid #fa3892;
  border-radius: 50%;
}

.rounds-0, .rounds-1 {
  background: #fff;
  padding: .5rem 2rem;
  border-radius: 2rem;
  position: absolute;
  top: 5%;
}

.round-count-0, .round-count-1 {
  font-weight: bold;
  font-size: 2rem;
}

.player-0-name,
.player-1-name {
  margin: 1.5rem 0 3rem 0;
  font-size: 2.5rem;
}

.player-0-score,
.player-1-score {
  margin-bottom: 2rem;
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
}

.players-form input {
  padding: 0.5rem 0.7rem;
  width: 16rem;
  border: none;
  margin-bottom: 0.2rem;
}

.players-form input:focus {
  outline: 1.5px solid #d14f6b;
}

.players-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.players-form > *:last-child {
  padding: 0.3rem 0.3rem;
  border: none;
  outline: none;
  background: #ebe0e0;
}

.players-form > *:last-child:hover {
  background: #000;
  color: #fff;
}

.pop-up-msg {
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  background: #000000;
  color: #fff;
  padding: 0.3rem 0.7rem;
  width: 16rem;
  text-align: center;
}

.dice {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
}

.dice img {
  width: 6rem;
}

.start-reset-btns {
  position: absolute;
  bottom: 10%;
  right: 50%;
  transform: translateX(50%);
}

.start-reset-btns > * {
  margin: 1rem 2rem;
  padding: 0.5rem;
  width: 7rem;
  outline: none;
}

.start-reset-btns > *:hover {
  background: #000;
  color: #fff;
  outline: none;
  border: 1px solid #000;
}

.start-disabled {
  margin: 1rem 2rem;
  padding: 0.5rem;
  width: 7rem;
  outline: none;
  background: #b9b5b5;
  color: #fff;
  outline: none;
  border: 1px solid #000;
}

.start-disabled:hover {
  background: #fff;
  color: #000;
}

.winner-msg, .tie-msg {
  background: #fff;
  color: #000;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2rem 2rem;
  border-radius: .5rem;
  box-shadow: 0 0 .5rem #fff;
  font-size: 2rem;
}

.winner-msg span {
  font-weight: bold;
}

@media (max-width: 600px) {
  body {
    padding: 5vh 5%;
  }
  .players {
    height: 90vh;
  }
}
